<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Emotion Recognition Using Machine Learning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>

    <h1>Speech Emotion Recognition Using Machine Learning </h1>
    <section class="emotion-list">
        <div class="emotion-group male">
            <div class="header">♂ Male</div>
            <div class="emotion angry">😡 Angry</div>
            <div class="emotion calm">😌 Calm</div>
            <div class="emotion fearful">😨 Fearful</div>
            <div class="emotion happy">😄 Happy</div>
            <div class="emotion sad">😢 Sad</div>
        </div>
    
        <div class="emotion-group female">
            <div class="header">♀ Female</div>
            <div class="emotion angry">😡 Angry</div>
            <div class="emotion calm">😌 Calm</div>
            <div class="emotion fearful">😨 Fearful</div>
            <div class="emotion happy">😄 Happy</div>
            <div class="emotion sad">😢 Sad</div>
        </div>
    </section>
    
    <h3>To determine emotion, simply upload a file and click "Upload and Detect Emotion"</h3>
    <form action="/predict_emotion" method="post" enctype="multipart/form-data">
        <input type="file" name="audio" accept=".wav,.mp3" />
        <button type="submit">Upload and Detect Emotion</button>
    </form>

    <h3>Use the 'Start' and 'Stop' buttons for recording, then unveil the emotion with 'Analyze Recorded Audio'.</h3>
    <div class="center-container">
        <button id="startButton">Start Recording</button>
        <button id="stopButton" disabled>Stop Recording</button>
        <button id="detectButton">Analyze Recorded Audio</button>
        <button id="listenButton" style="display: none;">Listen to Recording</button>
        <a id="downloadRecordingButton" style="display: none;" download="recorded_audio.ogg">Download Recording</a>
        <audio id="recordedAudio" controls style="display: none;"></audio>
        <div id="result"></div>
    </div>
    
    

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
